# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Archivos de compilación
dist/
build/
coverage/
jenkins_home/

# Archivos del sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# Archivos de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln